		<h1>All the projects: </h1>
		<% @projects.each do |project| %>
			<li>
				Title: <%= link_to(project.title, project_path(project.id)) %> 
				<%if project.description != nil%>
					<%=" ==>  #{project.description}" unless project.description.nil? %>
				<%end%>
			</li>
		<%end%>
		<hr>
		<button><a href="http://localhost:3000/projects/new">Create a new Project</a></button>