		<h1>All the projects: </h1>
		<% @projects.where("priority <= 3").each do |project| %>
			<li>
				Title: <%= project.title %>  
				<%if project.description != nil%>
					"<%=" ==>  #{project.description}" unless project.description.nil? %>
				<%end%>
			</li>
		<%end%>